body {
  font-family: myriad-pro-semiextended, sans-serif;
  background-color: white;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #00007d;
  clip-path: inset(0 -100vmax);
}

/* Home */

.home {
  background: none;
  height: 100vh;
  background-position-y: top;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home article {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-evenly;
}

.homeImg {
  height: 20rem;
}

/* Sponsors */

.sponsors {
  background-color: #f3f5fa;
  padding: 2rem 0;
}

.sponsorImg {
  height: 2rem;
}

/* Grid */

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  padding: 6rem 0;
}

.gridBox {
  height: fit-content;
  background-color: #003a98;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.grid div article img {
  max-height: 5rem;
  max-width: 5rem;
}

.grid div article div h4 {
  color: white;
}

.grid div article div p {
  font-weight: 200;
  margin-bottom: 1rem;
  color: white;
}

.grid div article div button {
  background-color: #00ffff;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0.4rem;
  padding: 0.5rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 0.5rem;
}

.grid div article div button p {
  margin: 0;
  color: black;
}

/* Footer */

.footer {
  background-color: #00007d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 4rem 0;
}

.footer img {
  margin: 2rem;
  max-height: 20rem;
}

.footer article {
}

.footer article div h2 {
  color: white;
}

.footer article div p {
  color: white;
  margin-left: 1rem;
}

@media screen and (max-width: 770px) {
  .home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .home article {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .homeImg {
    max-height: 12rem;
  }
}
